body {
    margin: 0;
    padding: 0;
    background-color: #f4f6f8;
    font-family: Arial, Helvetica, sans-serif;
}

.app-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #343a40;
    margin-bottom: 25px;
}

ul {
    list-style: none; /* elimina puntos */
    padding: 0;
    margin-top: 25px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.05);
}

input {
    width: 50px;
    padding: 5px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

button {
    padding: 8px 14px;
    border: none;
    border-radius: 8px;
    background-color: #2563eb;
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s ease;
}

button:hover {
    background-color: #1d4ed8;
    transform: scale(1.05);
}


.counter-info {
    font-size: 18px;
    font-weight: bold;
    color: #343a40;
}

.button-group {
    display: flex;
    gap: 10px;
}

.top-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 25px;
}

