
.app-container {
    font-family:  Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
    padding-top: 60px;
    min-height: 100vh;
    color: #f0f0f0;
}

h1 {
    color: #7e7d7d;
}

.color-palette {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.color-box {
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor:pointer;
}

.custom-color-picker {
    margin-top: 20px;
}

.custom-color-picker input {
    cursor:pointer;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

.custom-color-picker input:hover {
    background-color: #555;
}